@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Manrope");

legend {
    background-color: goldenrod;
    color: white;
    padding: .25em;
}

fieldset#contactInfo {
    background-color: whitesmoke;
    margin-right: 1em;
    border-radius: 10px;
    border-width: 0;
    margin-bottom: 20px;
}

div.row {
    display: flex;
    flex-flow: row wrap;
    margin: 7px 0px;
}

div.row > * {
    flex: 1 1 150px;
}

fieldset.interestedGroup, fieldset.status {
    border: 0;
}

div.checkbox, div.radio {
    display: flex;
}

textarea {
    width: 100%;
    height: 150px;
}