@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Manrope");

/*  
---------------------------
Mobile Styles: 0px to 480px
---------------------------
*/

@media only screen and (max-width: 480px) {
    html {
        width: 100vw;
        max-width: 480px;
        min-width: 1px;
    }
    
    body {
        width: 100%;
        max-width: 480px;
        min-width: 1px;
    }

    header img {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0 0 0 0;
    }

    nav#leftNav {
        display: block;
        clear: both;
        width: 100%;
    }

    nav#topNav {
        display: block;
        width: 100%;
        text-align: left;
    }

    nav#topNav li {
        width: 100%;
        clear: both;
        float: left;
    }

    article, article h1, article img, article p {
        width: 100%;
    }

    aside#brodsky {
        display: block;
        clear: both;
        width: 45%;
        float: left;
    }

    aside#gorusch {
        width: 45%;
        float: right;
        padding-right: 2%;
    }

    footer {
        width: 100vw;
    }

    #footerleft {
        width: 100%;
        clear: both;
    }
    
    #footerright {
        float: left;
    }
}

/*  
---------------------------
Tablet Styles: 0px to 480px
---------------------------
*/

@media only screen and (max-width: 481px) {
    nav#leftNav {
        display: block;
        clear: both;
        width: 100%;
    }

    
}