@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Manrope");

@page {
    size: 8.5in 11 in;
    margin: 0.5in;
}

nav {
    display: none;
}

header > img {
    width: 25%;
}

article img {
    width: 60%;
    margin: 0.25in auto auto 0.25in;
}

article h1 {
    font-size: 20pt;
}

article p {
    font-size: 14pt;
    margin-bottom: 12pt;
}

article ul li {
    font-size: 12pt;
    margin-top: 5pt;
}

aside blockquote {
    width: 50%;
    display: block;
    float: left;
    font-size: 10pt;
    margin-top: 4pt;
    background-color: wheat;
}

footer {
    display: none;
}