@charset "utf-8";

address, article, aside, blockquote, body, h1,
h2, h3, h4, h5, h6, header, html, img, li, nav,
p, span {
    background: transparent;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

