@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Manrope");

/* 
Main stylesheet for the BusinessFirst! website
*/

/* HTML and Body Styles */

html {
    background-color: #2c0000;
}

body {
    background-color: papayawhip;
    margin-top: 0;
    font-family: Manrope, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    min-width: 640px;
}

header {
    width: 100%;
    display: block;
}

header > img {
    width: 15%;
    height: auto;
    padding: 3% 0 0 2%;
}

/* Article styles */
article {
    display: block;
    line-height: 1.1em;
    clear: left;
    float: right;
    width: 75%;
    padding-top: .25em;
}

article ul {
    list-style-type: square;
    line-height: 1.2em;
}

article img {
    width: 95%;
    margin: 1em 2.5%;
}

article h1 {
    width: 95%;
    color: white;
    background-color: #800000;
    padding: 0.5em 0 0.5em 2vw;
    letter-spacing: 0.2em;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
}

article p, article address {
    width: 95%;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
}

article a:link, article a:hover {
    color: #800000;
    text-decoration: none;
}

article a:hover, article a:active {
    color: crimson;
    text-decoration: none;
}

/* Address styles */
address {
    line-height: 1.2em;
}


/* Navigation styles */

nav#topNav {
    display: inline-block;
    width: 100%;
    text-align: center;
}

nav ul {
    padding-inline-start: 0;
}

nav ul a:link, nav ul a:visited, footer a:link, footer a:visited {
    color: white;
    text-decoration: none;
}

nav ul a:hover, nav ul a:active, footer a:hover, footer a:active {
    color: yellow;
    text-decoration: none;
}

nav ul li {
    display: block;
    background-color: #800000;
}

nav#topNav li {
    width: 25%;
    float: left;
}

nav#leftNav {
    display: block;
    text-align: left;
    width: 22.5%;
    padding-left: 1.25%;
    padding-right: 1.25%;
}

nav#leftNav li {
    line-height: 2em;
    padding: 0 0.3em 0 0.3em;
    font-size: .75em;
}

iframe {
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1%;
}

/* Aside */

aside {
    width: 22.5%;
    padding-left: 1.25%;
    padding-left: 1.25%;
    float: left;
}

aside blockquote {
    text-align: center;
    background: radial-gradient(#800000,#4d1616);
    color: white;
    padding: .5em;
    border-radius: 15px;
    box-shadow: rgba(7, 0, 0, 30%) 5px 4px 15px;
    margin-bottom: 15px;
}

aside blockquote cite {
    text-align: left;
    font-style: italic;
    font-size: .75em;
}


/* Footer styles */
footer {
    display: block;
    clear: both;
    background-color: darkslategrey;
    color: white;
    font-family: sans-serif;
    font-size: .75em;
    letter-spacing: 0.1em;
    padding: 3em 1em;
}

#footerleft {
    width: 50%;
    display: block;
    float: left;
}

#footerright {
    float: right;
}


